<section class="property-binding">
  <article>
    <h3>Interpolation / Interpolacao</h3>
    <p>String renderizada com interpolacao: {{ url }}</p>
    <p>Resultado de 1 + 1 eh: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 nao eh {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}" alt="">
    <img [src]="urlImage" alt="">
    <img bind-src="urlImage" alt="">
  </article>
</section>